[submodule "Other/JSONAPI"]
	path = Other/JSONAPI
	url = https://github.com/PerfectExamples/Perfect-JSON-API.git
[submodule "Other/OnlineMDEditor"]
	path = Other/OnlineMDEditor
	url = https://github.com/PerfectExamples/Perfect-Markdown-Editor.git
[submodule "Other/Perfect-APNS"]
	path = Other/Perfect-APNS
    url = https://gitee.com/huosan/Perfect-APNS-Demo.git
[submodule "Other/TurnstileSQLiteDemo"]
	path = Other/TurnstileSQLiteDemo
	url = https://github.com/PerfectExamples/Perfect-Turnstile-SQLite-Demo.git
[submodule "Other/ToDO-Backend"]
	path = Other/ToDO-Backend
	url = https://github.com/PerfectExamples/Perfect-ToDo-iOS-Demo.git
[submodule "Other/PerfectWeather"]
	path = Other/PerfectWeather
	url = https://github.com/PerfectExamples/Perfect-Weather.git
